<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <filter-mapping>
        <filter-name>encoding</filter-name>
        <url-pattern>/index.html</url-pattern>
        <url-pattern>/product/*</url-pattern>
        <url-pattern>/user/*</url-pattern>
        <url-pattern>/profile/*</url-pattern>
        <url-pattern>/item/*</url-pattern>
        <url-pattern>/delivery/*</url-pattern>
        <url-pattern>/order/*</url-pattern>
        <url-pattern>/orderposition/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>cookieReceive</filter-name>
        <url-pattern>/index.html</url-pattern>
        <url-pattern>/product/*</url-pattern>
        <url-pattern>/user/*</url-pattern>
        <url-pattern>/profile/*</url-pattern>
        <url-pattern>/item/*</url-pattern>
        <url-pattern>/delivery/*</url-pattern>
        <url-pattern>/order/*</url-pattern>
        <url-pattern>/orderposition/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>actionURI</filter-name>
        <url-pattern>/index.html</url-pattern>
        <url-pattern>/product/*</url-pattern>
        <url-pattern>/user/*</url-pattern>
        <url-pattern>/profile/*</url-pattern>
        <url-pattern>/item/*</url-pattern>
        <url-pattern>/delivery/*</url-pattern>
        <url-pattern>/order/*</url-pattern>
        <url-pattern>/orderposition/*</url-pattern>
        <url-pattern>/local/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>security</filter-name>
        <url-pattern>/index.html</url-pattern>
        <url-pattern>/product/*</url-pattern>
        <url-pattern>/user/*</url-pattern>
        <url-pattern>/profile/*</url-pattern>
        <url-pattern>/item/*</url-pattern>
        <url-pattern>/delivery/*</url-pattern>
        <url-pattern>/order/*</url-pattern>
        <url-pattern>/orderposition/*</url-pattern>
    </filter-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <jsp-config>
        <taglib>
            <taglib-uri>customtags</taglib-uri>
            <taglib-location>/WEB-INF/tld/custom.tld</taglib-location>
        </taglib>
    </jsp-config>
</web-app>